[package]
name = "html5gum"
authors = ["Markus Unterwaditzer <markus-honeypot@unterwaditzer.net>"]
description = "A WHATWG-compliant HTML5 tokenizer and tag soup parser."
edition = "2018"
readme = "README.md"
keywords = ["html", "html5", "whatwg", "parser", "tokenizer"]
license = "MIT"
repository = "https://github.com/untitaker/html5gum"
version = "0.2.1"
include = ["src/**/*", "LICENSE", "README.md"]

[dev-dependencies]
pretty_assertions = "1.0.0"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.71"
test-generator = "0.3.0"

[features]
# Feature used by integration tests in tests/ to get access to library internals.
integration-tests = []
