# This workflow doesn't do fuzzing, it just ensures that the fuzzing code can compile

name: Fuzz check
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Check fuzz code compiles
        working-directory: ./fuzz
        run: cargo check

      - name: Build AFL target
        working-directory: ./fuzz
        run: make setup-afl
