# This workflow doesn't do fuzzing, it just ensures that the fuzzing code can compile

name: Fuzz check
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./fuzz
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - run: cargo fmt --all -- --check

      - name: Check fuzz code compiles
        run: cargo check

      - name: Build AFL target
        run: make setup-afl

  check-libfuzzer:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./fuzz
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - name: Build libfuzzer target
        run: |
          cargo install cargo-fuzz
          cargo +nightly fuzz build main_libfuzzer
